<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="/themeBootstrap.js"></script>
    <script src="/home/cheatsheet.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.122.0" />
    <link
      rel="shortcut icon"
      href="https://robohash.org/log"
      type="image/x-icon"
    />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="/bootstrap-icons/font/bootstrap-icons.min.css"
    />
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/styles/home/sass/styles.css" rel="stylesheet" />
  </head>
  <body class="bg-body-tertiary">
    <!-- Icons submain Change Theme [Light,Dark,Auto] -->
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path
          d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"
        />
        <path
          d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"
        />
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path
          d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
        />
      </symbol>
    </svg>
    <!-- Icon main Change Theme [Light,Dark,Auto] -->
    <div
      class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle"
    >
      <button
        class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
        id="bd-theme"
        type="button"
        aria-expanded="false"
        data-bs-toggle="dropdown"
        aria-label="Toggle theme (auto)"
      >
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
          <use href="#circle-half"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul
        class="dropdown-menu dropdown-menu-end shadow"
        aria-labelledby="bd-theme-text"
      >
        <li>
          <button
            type="button"
            class="dropdown-item d-flex align-items-center"
            data-bs-theme-value="light"
            aria-pressed="false"
          >
            <svg class="bi me-2 opacity-50" width="1em" height="1em">
              <use href="#sun-fill"></use>
            </svg>
            Light
            <svg class="bi ms-auto d-none" width="1em" height="1em">
              <use href="#check2"></use>
            </svg>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="dropdown-item d-flex align-items-center"
            data-bs-theme-value="dark"
            aria-pressed="false"
          >
            <svg class="bi me-2 opacity-50" width="1em" height="1em">
              <use href="#moon-stars-fill"></use>
            </svg>
            Dark
            <svg class="bi ms-auto d-none" width="1em" height="1em">
              <use href="#check2"></use>
            </svg>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="dropdown-item d-flex align-items-center active"
            data-bs-theme-value="auto"
            aria-pressed="true"
          >
            <svg class="bi me-2 opacity-50" width="1em" height="1em">
              <use href="#circle-half"></use>
            </svg>
            Auto
            <svg class="bi ms-auto d-none" width="1em" height="1em">
              <use href="#check2"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <!-- HEADER MAIN -->
    <header
      class="bd-header d-flex align-items-stretch pt-2 bg-dark-subtle border-bottom fixed-top"
    >
      <nav class="container-fluid navbar">
        <div class="container-fluid">
          <!-- branch -->
          <a class="navbar-brand" href="#home">
            <img
              src="https://w7.pngwing.com/pngs/769/316/png-transparent-left-fist-logo-india-person-lorem-ipsum-political-party-jana-sena-party-india-thumbnail.png"
              width="35"
              height="35"
              class="rounded-circle"
              alt="logo sena"
            />
            MyRedSena
          </a>
          <!-- Icon My Count-->
          <button
            class="navbar-toggler rounded-circle border border-0 p-0"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <img
              src="https://robohash.org/mycount"
              class="rounded-circle border border-1"
              width="30"
              height="30"
              alt="mi cuenta"
            />
          </button>
          <!-- body My Count -->
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                Mi Cuenta
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Inicio</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- Nav items [notifications,panel,search person,create publication] -->
        <div class="container-fluid">
          <ul class="nav justify-content-center align-items-center w-100">
            <!-- button notifications -->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                <button
                  type="button"
                  class="btn btn-primary position-relative"
                  style="
                    --bs-btn-padding-y: 0.25rem;
                    --bs-btn-padding-x: 0.5rem;
                    --bs-btn-font-size: 0.75rem;
                  "
                >
                  <i class="bi bi-bell"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  >
                    0+
                    <span class="visually-hidden">mensajes no leídos</span>
                  </span>
                </button>
              </a>
            </li>
            <!-- button Panel -->
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true" href="#">
                <button
                  type="button"
                  class="btn btn-secondary"
                  style="
                    --bs-btn-padding-y: 0.25rem;
                    --bs-btn-padding-x: 0.5rem;
                    --bs-btn-font-size: 0.75rem;
                  "
                >
                  <i class="bi bi-border-all"></i
                  ><span class="align-middle ps-1">Panel</span>
                </button>
              </a>
            </li>
            <!-- button search users -->
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="
                    --bs-btn-padding-y: 0.25rem;
                    --bs-btn-padding-x: 0.5rem;
                    --bs-btn-font-size: 0.75rem;
                  "
                >
                  <i class="bi bi-people"></i
                  ><span class="align-middle ps-1">Buscar</span>
                </button>
              </a>
            </li>

            <!-- button create piblication -->
            <li class="nav-item">
              <button
                title="Crear Publicación"
                type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                <i class="bi bi-plus-lg"></i>
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Form Modal open from button publications -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Creando Publicación...
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Form Publications -->
            <form action="/publication" method="post">
              <!-- Title Publication -->
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label"
                  >Título</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput"
                  name="title"
                  placeholder="Título de Publicación"
                />
              </div>
              <!-- message -->
              <div class="form-floating mb-2">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  name="message"
                  id="floatingTextarea"
                  maxlength="200"
                ></textarea>
                <label for="floatingTextarea">Mensaje</label>
              </div>
              <!-- Upload File -->
              <div>
                <p class="mb-1">Sube imagenes o videos</p>
                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupFile01"
                    >Subir</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    id="inputGroupFile01"
                    name="files"
                  />
                </div>
              </div>
              <!-- color modal -->
              <label for="exampleColorInput" class="form-label"
                >Color de Fondo</label
              >
              <input
                type="color"
                class="form-control form-control-color"
                id="exampleColorInput"
                value="#563d7c"
                title="Choose your color"
                name="color"
              />
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <!-- submit Form -->
                <button type="submit" class="btn btn-primary">Publicar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ASIDE PANEL -->
    <aside
      class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2 d-none"
    >
      <h2 class="h6 pt-4 pb-3 mb-4 border-bottom d-none d-xl-block">
        <a href="#"><i class="bi bi-house-door pe-2"></i>Inicio</a>
      </h2>
      <nav class="small" id="toc">
        <ul class="list-unstyled">
          <li class="my-2">
            <button
              type="button"
              class="btn d-inline-flex align-items-center collapsed border-0"
              data-bs-toggle="collapse"
              aria-expanded="false"
              data-bs-target="#contents-collapse"
              aria-controls="contents-collapse"
            >
              Recursos educativos
            </button>
            <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
              <li class="list-unstyled">
                <button
                  type="button"
                  class="btn d-inline-flex align-items-center collapsed border-0"
                  data-bs-toggle="collapse"
                  aria-expanded="false"
                  data-bs-target="#contents-collapse1"
                  aria-controls="contents-collapse"
                >
                  Ejem. Matematicas
                </button>
                <ul class="list-group collapse" id="contents-collapse1">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <a href="#libros">Libros</a>
                    <span class="badge text-bg-primary rounded-pill">14</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <a href="#videos">Videos</a>
                    <span class="badge text-bg-primary rounded-pill">9</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <a href="#imagenes">Imagenes</a>
                    <span class="badge text-bg-primary rounded-pill">4</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <a href="#documentos">Documentos</a>
                    <span class="badge text-bg-primary rounded-pill">13</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="my-2">
            <button
              type="button"
              class="btn d-inline-flex align-items-center collapsed border-0"
              data-bs-toggle="collapse"
              aria-expanded="false"
              data-bs-target="#forms-collapse"
              aria-controls="forms-collapse"
            >
              Grupos de estudio
            </button>
            <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
              <li>
                <a
                  class="d-inline-flex align-items-center rounded text-decoration-none"
                  href="#overview"
                  >ejem. Aprendiendo Matematica</a
                >
              </li>
              <li>
                <a
                  class="d-inline-flex align-items-center rounded text-decoration-none"
                  href="#disabled-forms"
                  >ejem. Hablando sobre tecnologia</a
                >
              </li>
            </ul>
          </li>
          <li class="my-2">
            <button
              type="button"
              class="btn d-inline-flex align-items-center collapsed border-0"
              data-bs-toggle="collapse"
              aria-expanded="false"
              data-bs-target="#components-collapse"
              aria-controls="components-collapse"
            >
              Salon de Clase
            </button>
            <ul class="list-unstyled ps-3 collapse" id="components-collapse">
              <li>
                <a
                  class="d-inline-flex align-items-center rounded text-decoration-none"
                  href="#accordion"
                  >Ejem Matematica</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
    <!-- SECTION MAIN -->
    <div id="home" class="bd-cheatsheet container-fluid bg-body">
      <section id="content">
        <h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 fs-4">
          Inicio
        </h1>
        <!-- Content Publications -->
        <article class="my-3" id="publications">
          <h1>Publicaciones</h1>
          <% for( let i = 0; i < titles.length; i++ ) { %>
          <li>
            <h2><%= titles[i] %></h2>
            <p><%= messages[i] %></p>
            <img src=<%= files[i] %> alt=<%= files[i] %>>
          </li>
          <% } %>
        </article>
      </section>
    </div>

    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/home/publication/publication.js"></script>
  </body>
</html>
